@import 'colors';

.footer-wrapper {
  background: $base-color;
  text-align: center;
  padding: 20px;
  line-height: 30px;

  h4 {
    font-weight: 400;
  }

  &__nav-btn {
    text-align: right;
  }
}
