@import 'colors';

.header-wrapper {
  background: $base-color;
  padding: 1rem;
  text-align: center;

  &__title {
    color: orange;
    padding-bottom: 1rem;
  }

  &__sub-title {
    font-weight: 500;
  }

  &__filter-result-title {
    padding-top: 8px;
    font-weight: 500;
    font-style: italic;
    color: orange;
    font-size: 18px;
  }
}
